@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/konrad\/git\/src\/scss\/style\.scss}line{font-family:\0000316}}
body { font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 14px; line-height: 1.5em; font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/konrad\/git\/src\/scss\/style\.scss}line{font-family:\0000323}}
p, span, a, ul, li, button { font-family: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/konrad\/git\/src\/scss\/style\.scss}line{font-family:\0000330}}
button { color: buttontext; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/konrad\/git\/src\/scss\/style\.scss}line{font-family:\0000335}}
strong { font-weight: 600; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/konrad\/git\/src\/scss\/style\.scss}line{font-family:\0000339}}
h1, h2, h3, h4, h5, h6 { font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; line-height: 1.5em; font-weight: 300; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/konrad\/git\/src\/scss\/style\.scss}line{font-family:\0000345}}
strong { font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/konrad\/git\/src\/scss\/style\.scss}line{font-family:\0000349}}
.tile { width: 100%; display: inline-block; box-sizing: border-box; background: #fff; padding: 20px; margin-bottom: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/konrad\/git\/src\/scss\/style\.scss}line{font-family:\0000357}}
.tile .title { margin-top: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/konrad\/git\/src\/scss\/style\.scss}line{font-family:\0000361}}
.tile.purple, .tile.blue, .tile.red, .tile.orange, .tile.green { color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/konrad\/git\/src\/scss\/style\.scss}line{font-family:\0000365}}
.tile.purple { background: #5133ab; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/konrad\/git\/src\/scss\/style\.scss}line{font-family:\0000368}}
.tile.purple:hover { background: #3e2784; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/konrad\/git\/src\/scss\/style\.scss}line{font-family:\0000373}}
.tile.red { background: #ac193d; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/konrad\/git\/src\/scss\/style\.scss}line{font-family:\0000376}}
.tile.red:hover { background: #7f132d; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/konrad\/git\/src\/scss\/style\.scss}line{font-family:\0000381}}
.tile.green { background: #00a600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/konrad\/git\/src\/scss\/style\.scss}line{font-family:\0000384}}
.tile.green:hover { background: #007300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/konrad\/git\/src\/scss\/style\.scss}line{font-family:\0000389}}
.tile.blue { background: #2672ec; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/konrad\/git\/src\/scss\/style\.scss}line{font-family:\0000392}}
.tile.blue:hover { background: #125acd; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/konrad\/git\/src\/scss\/style\.scss}line{font-family:\0000397}}
.tile.orange { background: #dc572e; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/konrad\/git\/src\/scss\/style\.scss}line{font-family:\00003100}}
.tile.orange:hover { background: #b8431f; }
